<article class="post-card {{post_class}}">
    {{#if feature_image}}
        <a href="{{url}}" class="post-card-image" aria-hidden="true" tabindex="-1">
            <img
                src="{{img_url feature_image size="m"}}"
                srcset="
                    {{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w"
                sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 33vw"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                loading="lazy"
            >
        </a>
    {{/if}}
    <div class="post-card-content">
        <header class="post-card-header">
            {{#if primary_tag}}
                <a href="{{primary_tag.url}}" class="post-card-tag">{{primary_tag.name}}</a>
            {{/if}}
            <h3 class="post-card-title">
                <a href="{{url}}">{{title}}</a>
            </h3>
        </header>
        {{#if custom_excerpt}}
            <p class="post-card-excerpt">{{custom_excerpt}}</p>
        {{else}}
            <p class="post-card-excerpt">{{excerpt words="25"}}</p>
        {{/if}}
        <footer class="post-card-meta">
            {{#primary_author}}
                <a href="{{url}}" class="post-card-author">
                    {{#if profile_image}}
                        <img class="post-card-author-avatar" src="{{img_url profile_image size="xs"}}" alt="{{name}}">
                    {{/if}}
                    <span class="post-card-author-name">{{name}}</span>
                </a>
            {{/primary_author}}
            <div class="post-card-meta-info">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</time>
                {{#match @custom.show_reading_time true}}
                    <span class="post-card-reading-time">{{reading_time}}</span>
                {{/match}}
            </div>
        </footer>
    </div>
</article>
